# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
orders = pd.read_csv("Orders.csv")

In [4]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

#### Sub Problem 1:

In [6]:
unique_customers = orders.groupby(['CustomerID']).agg({'amount_spent':sum})

In [7]:
unique_customers.head()

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

In [18]:
labels = ["Preferred", "VIP"]
bins = pd.cut(unique_customers['amount_spent'],2, labels = labels)
bins.value_counts()

Preferred    4334
VIP             5
Name: amount_spent, dtype: int64

In [19]:
display(unique_customers['amount_spent'].min())
display(unique_customers['amount_spent'].max())
print('size of bins = ', (unique_customers['amount_spent'].max()-unique_customers['amount_spent'].min())/3)
display(unique_customers[unique_customers['amount_spent']<0+93402.006].shape) 
display(unique_customers[unique_customers['amount_spent']>280206.019-93402.006].shape)

0.0

280206.01999999984

size of bins =  93402.00666666661

(4332, 1)

(3, 1)

In [20]:
unique_customers = pd.qcut(unique_customers['amount_spent'],2, labels = labels)
unique_customers.value_counts()

Preferred    2170
VIP          2169
Name: amount_spent, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [33]:
unique_customers['Country'].max()
unique_customers[unique_customers['VIP'] == unique_customers['Country'].max()]

#orders.loc[orders['Customer_ID'] == 'VIP']['Country'].value_counts().sort_values(ascending=False)

#Neither of these solutions are working properly and i'm unsure about why.

KeyError: 'Country'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
#before I can do this one, i'll need to figure out what's going wrong with the solution above.